
body{
    background-color: #152126;
}

.tabBody-3YRQ8W{
     background-color: #152126;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #152126;
    --background-primary: #152126;
    --background-secondary: #152126;
    --background-secondary-alt: #152126;
    --background-tertiary: #1521265;
    --background-accent: #152126;
    --background-floating: #152126;
    --background-mobile-primary: #152126;
    --background-mobile-secondary: #152126;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #152126;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #152126;
    --scrollbar-auto-track: #152126;
    --scrollbar-auto-scrollbar-color-thumb: #152126;
    --scrollbar-auto-scrollbar-color-track: #152126;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: rgb(13, 241, 13);
    --focus-primary: #ff0000;
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #152126;
    --activity-card-background: #152126;
    --textbox-markdown-syntax: #152126;
    --deprecated-card-bg: #fff;
    --deprecated-card-editable-bg: #fff;
    --deprecated-store-bg: #fff;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: #fff;
    --deprecated-text-input-bg: #fff;
    --deprecated-text-input-border: #fff;
    --deprecated-text-input-border-hover: #fff;
    --deprecated-text-input-border-disabled: #fff;
    --deprecated-text-input-prefix: #fff;
}